<div id="<%= dom_id candidatura %>">
  <p>
    <strong>Mensagem:</strong>
    <%= candidatura.mensagem %>
  </p>

  <p>
    <strong>Candidato:</strong>
    <%candidato = Candidato.find(candidatura.candidato_id) %>
    <%= candidato.nome%>
  </p>

  <p>
    <strong>Vaga de empregos:</strong>
    <%vaga = VagaDeEmprego.find(candidatura.vaga_de_emprego_id) %>
    <%= vaga.titulo%>
  </p>

</div>
