<div id="<%= dom_id candidatura %>">
  <p>
    <strong>Mensagem:</strong>
    <%= candidatura.mensagem %>
  </p>

  <p>
    <strong>Candidato:</strong>
    <%= candidatura.candidato_id %>
  </p>

  <p>
    <strong>Vaga de empregos:</strong>
    <%= candidatura.vaga_de_empregos_id %>
  </p>

</div>
