<h1>Editing vaga de emprego</h1>

<%= render "form", vaga_de_emprego: @vaga_de_emprego %>

<br>

<div>
  <%= link_to "Show this vaga de emprego", @vaga_de_emprego %> |
  <%= link_to "Back to vaga de empregos", vaga_de_empregos_path %>
</div>
