<!DOCTYPE HTML>
<html lang=“pt-br”>
<head>
  <meta charset=“utf-8”/>
  <meta content=“width=device-width, initial-scale=1, maximum-scale=1” name=“viewport”>
  <title>Título da Página</title>

</head>
<body>

<div class="container col-6">




</div>

<div class="card" style="width: 18rem;">
  <a href="https://www.example.com">
    <img src="https://cdn-icons-png.flaticon.com/512/48/48749.png" class="card-img-top" alt="Imagem aleatória">
  </a>
  <div class="card-body">
    <h5 class="card-title">Candidatos</h5>
    <p class="card-text">Criei seu cadastro ou selecione as vagas para se candidatar</p>
    <%= link_to 'Candidatos',  candidatos_path, class: "btn btn-primary btn-lg float-right" %>
  </div>
</div>


<div class="card" style="width: 18rem;">

  <a href="https://www.example.com">
    <img src="https://w7.pngwing.com/pngs/326/319/png-transparent-employment-website-job-hunting-recruitment-employers-resume-public-relations-employment-thumbnail.png" class="card-img-top" alt="Imagem aleatória">
  </a>





  <div class="card-body">
    <h5 class="card-title">Empregador</h5>
    <p class="card-text">Crie uma vaga de emprego ou gerencie aquela que voce ja cadastrou</p>
    <%= link_to 'Empregador',  empregadors_path, class: "btn btn-primary btn-lg float-right" %>
  </div>
</div>











</body>
</html>
