<h1>Editing entrevistador</h1>

<%= render "form", entrevistador: @entrevistador %>

<br>

<div>
  <%= link_to "Show this entrevistador", @entrevistador %> |
  <%= link_to "Back to entrevistadors", entrevistadors_path %>
</div>
