<h1>Editing empregador</h1>

<%= render "form", empregador: @empregador %>

<br>

<div>
  <%= link_to "Show this empregador", @empregador %> |
  <%= link_to "Back to empregadors", empregadors_path %>
</div>
