<h1>Editing curriculo</h1>

<%= render "form", curriculo: @curriculo %>

<br>

<div>
  <%= link_to "Show this curriculo", @curriculo %> |
  <%= link_to "Back to curriculos", curriculos_path %>
</div>
